{% load i18n %}
<div class="row">
	<div class="col-md-12">
		<div class="pagination">
      {% if page_obj.has_previous %}
          <a href="?{{ page_obj.previous_page_number.querystring }}" class="prev"><i class="fa fa-angle-left"></i> {% trans "previous" %}</a>
      {% else %}

      {% endif %}
      {% for page in page_obj.pages %}
          {% if page %}
              {% ifequal page page_obj.number %}
                  <span class="current page">{{ page }}</span>
              {% else %}
                  <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
              {% endifequal %}
          {% else %}
              ...
          {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
          <a href="?{{ page_obj.next_page_number.querystring }}" class="next">{% trans "next" %} <i class="fa fa-angle-right"></i></a>
      {% else %}

      {% endif %}

		</div>
	</div>
</div>
