{% extends "layout/_body.html"%}
{% block title %}Inicio{% endblock %}
{% block content %}
{% load humanize %}
<div class="full-width page-wrap properties-page">
  <div class="container">
    <div class="row">
            <div class="container">

                <div class="row">
                  <div class="col-md-12">
                    <h3>{{propierty.name}}</h3>
                  </div>

                    <!-- PROPERTY SLIDER -->
                    <div class="col-md-7 property-slider">
                      <!-- Place somewhere in the <body> of your page -->
                          <div id="slider" class="flexslider" style="max-height:400px">
                            <ul class="slides">
                              {% for image in propierty.get_images  %}
                              <li>
                                <img src="{{MEDIA_URL}}{{image.url}}" style="max-height: 400px; width: auto; margin:auto;">
                              </li>
                                {% endfor %}

                              <!-- items mirrored twice, total of 12 -->
                            </ul>
                          </div>
                          <br>
                          <div id="carousel" class="flexslider">
                            <ul class="slides">
                              {% for image in propierty.get_images  %}
                              <li>
                                <img src="{{image.thumbnail_detail.url}}">
                              </li>
                                {% endfor %}
                              <!-- items mirrored twice, total of 12 -->
                            </ul>
                          </div>

                    </div>
                    <!-- PROPERTY SLIDER -->


                    <!-- PROPERTY DATA -->
                    <div class="col-md-5 property-data">
                      <div class="prop-features prop-before">
                          Codigo Ref: {{propierty.id}}
                      </div>
                        <div class="prop-features prop-before">
                            <span class="location">{{propierty.neighborhood}}</span>
                            <span class="area">{{propierty.land_area}} M2</span>
                        </div>
                        {% if propierty.type_business == 'Venta' %}
                        <div class="prop-price">
                            <strong class="price">$ {{propierty.price_sell | intcomma}}</strong>
                        </div>
                        {% else %}
                          {% if propierty.type_business == 'Arriendo' %}
                          <div class="prop-price">
                              <strong class="price">$ {{propierty.price_rent | intcomma}}</strong>
                          </div>
                          {% else %}
                          <div class="prop-price">
                              Venta
                              <strong class="price">$ {{propierty.price_sell | intcomma}}</strong>
                          </div>
                          <div class="prop-price">
                              Arriendo
                              <strong class="price">$ {{propierty.price_rent | intcomma}}</strong>
                          </div>
                          {% endif %}
                        {% endif %}
                        <div class="prop-features">
                            <span class="bed">{{propierty.bedroom}} Habitacione{% if propierty.bedroom > 1 %}s{% endif %}</span>
                            {% if propierty.garage > 0 %}<span class="garage">{{propierty.garage}} Garaje{% if propierty.garage > 1 %}s{% endif %}</span>{% endif %}
                            <span class="bath">{{propierty.bathroom}} Baño{% if propierty.bathroom > 1 %}s{% endif %}</span>
                        </div>
                        <div class="" style="font-size: 1.3em; white-space: pre-line;">
                          {{propierty.description}}
                        </div>
                    </div>
                    <!-- PROPERTY DATA -->

                </div>

            </div>

            <!-- ITEMS GRID -->
            <div class="container">
                <div class="row">

                </div>
            </div>
            <!-- ITEMS GRID -->
          </div>
        </div>
      </div>

{% endblock %}
{% block add_js %}
<script type="text/javascript">
$(window).load(function() {
// The slider being synced must be initialized first
$('#carousel').flexslider({
  animation: "slide",
  controlNav: false,
  animationLoop: false,
  slideshow: false,
  itemWidth: 210,
  itemMargin: 5,
  asNavFor: '#slider'
});

$('#slider').flexslider({
  animation: "slide",
  controlNav: false,
  animationLoop: false,
  slideshow: false,
  sync: "#carousel"
});
});
</script>

{% endblock %}
