<!DOCTYPE html>
<html lang="es-CO">

	<head>

		<title>{% block title %}{% endblock %}- En Casa Finca Raíz</title>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<script src="{{ STATIC_URL }}js/pace.js"></script>

		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/flexslider.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.selectBox.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/green.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/responsive.css" type="text/css">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,500' rel='stylesheet' type='text/css'>

		<link rel="shortcut icon" href="favicon.ico">

		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
		<![endif]-->
    {% block add_head%}{% endblock %}
	</head>

	<body>
		{% include "layout/_header.html"%}

    {% block content%}{% endblock %}

		{% include "layout/_footer.html"%}

		<script src="{{ STATIC_URL }}js/jquery-1.11.3.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.selectBox.min.js"></script>
		<script src="{{ STATIC_URL }}js/icheck.js"></script>
		<script src="{{ STATIC_URL }}js/counter.animation.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.appear.js"></script>
		<script src="{{ STATIC_URL }}js/custom.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.cycle2.js"></script>
		<script src="{{ STATIC_URL }}js/addCity.js"></script>
		{% block add_js %}

		{% endblock %}
	</body>
</html>
