<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 copy-right">
        <p><img src="{{ STATIC_URL }}images/logo.svg" alt="Logo" class="img-responsive"></p>
      </div>
      <div class="col-md-7">
        <ul>
          <li class="{% if request.get_full_path = '/sell/' %} active {% endif %}"><a href="{% url 'core:sell' %}">Ventas</a></li>
          <li class="{% if request.get_full_path = '/rent/' %} active {% endif %}"><a href="{% url 'core:rent' %}">Arriendo</a></li>
          <li class="{% if request.get_full_path = '/aboutus/' %} active {% endif %}"><a href="{% url 'core:aboutus' %}">Nosotros</a></li>
          <li class="{% if request.get_full_path = '/contact/' %} active {% endif %}"><a href="{% url 'core:contact' %}">Contáctenos</a></li>
          <li class="{% if request.get_full_path = '/requeriments/' %} active {% endif %}"><a href="{% url 'core:requeriments' %}">Requisitos para Arriendo</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER -->
