<!-- TOP -->
<div class="top-bar">

  <p class="text">
    <a><i class="fa fa-tag"></i> 900.512.838-7</a>
    <a><i class="fa fa-phone"></i> 7816989 - 7812235 - 310 602 9678 - 301 501 8448</a>
    <a><i class="fa fa-envelope-o"></i> encasa-fincaraiz@hotmail.com</a>

  </p>

  <p class="social">
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </p>

</div>
<!-- TOP -->

<!-- HEADER -->
<header class="clearfix">

  <div class="logo">
    <a href="{% url 'core:home' %}"><img src="{{ STATIC_URL }}images/logo.svg" alt="En Casa"></a>
  </div>
  <nav class="navbar collapse" id="mobile-menu">
    <ul class="nav navbar-nav">
      <li class="{% if request.get_full_path = '/sell/' %} active {% endif %}"><a href="{% url 'core:sell' %}">Ventas</a></li>
      <li class="{% if request.get_full_path = '/rent/' %} active {% endif %}"><a href="{% url 'core:rent' %}">Arriendo</a></li>
      <li class="{% if request.get_full_path = '/aboutus/' %} active {% endif %}"><a href="{% url 'core:aboutus' %}">Nosotros</a></li>
      <li class="{% if request.get_full_path = '/contact/' %} active {% endif %}"><a href="{% url 'core:contact' %}">Contáctenos</a></li>
      <li class="{% if request.get_full_path = '/requeriments/' %} active {% endif %}"><a href="{% url 'core:requeriments' %}">Requisitos para Arriendo</a></li>
    </ul>
  </nav>

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

</header>
<!-- HEADER -->
