<div class="property-search">
  <form action="" method="get">
    {{filter.form.id}}
    {{filter.form.city}}
    {{filter.form.neighborhood}}
    <hr>
    {{filter.form.type_property}}
    {{filter.form.type_business}}
    <hr>
    <div class="range">
    <p>
    <label for="area" class="p-1">Area</label>
    <span>M <input type="text" id="area" /></span>
    </p>
    <div id="area-range"></div>
    </div>

    <div class="desactive">
      {{filter.form.price_sell}}
      {{filter.form.price_rent}}
    </div>
    <div class="range" id="price_sell">

      <p>
        <label for="price-sell" class="p-2">Precio Venta</label>
        <span>$ <input type="text" id="price_sell_text" ></span>

      </p>
      <div id="price-range-sell"></div>
    </div>

    <div class="range" id="price_rent">

      <p>
        <label for="price-rent" class="p-2">Precio Renta</label>
        <span>$ <input type="text" id="price_rent_text" ></span>

      </p>
      <div id="price-range-rent"></div>
    </div>

    <div class="buttons">
      <button class="btn btn-danger"><i class="fa fa-search"></i>Buscar</button>
      <button class="btn btn-clear">Limpiar</button>
    </div>
  </form>
</div>
