{% load humanize %}
<div class="col-md-6 col-sm-6">
  <div class="item">
    <div class="item-header clearfix">
      <h3><a href="{% url 'propierties:detail_propierty' propierty.id %}">{{propierty.name}}</a></h3>
      <span class="favorite">{{propierty.type_property}}</span>
    </div>
    <figure>
      <img src="{{propierty.thumbnail_url.thumbnail.url}}" alt="" class="img-responsive">
      <span class="label {% if propierty.type_business == 'Venta' %}sale{% else %}{% if propierty.type_business == 'Arriendo' %}rent{% else %}hot{% endif %}{% endif %}">{{propierty.type_business}}</span>
      <div class="overlay">
        <a href="{% url 'propierties:detail_propierty' propierty.id %}" class="btn btn-detail">Detalles</a>
      </div>
    </figure>
    <div class="item-detail">
      <div class="left">
        <!-- <span class="place"><i class="fa fa-map-marker"></i>La castellana</span> -->
        <span class="bed">{{propierty.bedroom}}</span>
        <span class="bath">{{propierty.bathroom}}</span>
        <span class="other"><i class="fa fa-building"></i>{{propierty.bathroom}}</span>
        {% if propierty.garage > 0 %} <span class="garage">{{propierty.garage}}</span>{% endif %}
      </div>
      <div class="right">
        <span class="area">{{propierty.land_area}} m2</span>

        {% if propierty.type_business == 'Venta' %}
          <span class="price">$ {{propierty.price_sell | intcomma}}</span>
        {% else %}
          {% if propierty.type_business == 'Arriendo' %}
          <span class="price">$ {{propierty.price_rent | intcomma}}</span>
          {% else %}
            <span class="price">$ {{propierty.price_sell | intcomma}}</span> -
            <span class="price">$ {{propierty.price_rent | intcomma}}</span>
          {% endif %}
        {% endif %}

      </div>
      <br>
      <span class="price" style="text-transform: capitalize;position: relative;bottom: -10px;">Código: {{propierty.id}}</span>
    </div>
  </div>
</div>
