{% extends "layout/_body.html"%}
{% block title %}Nosotros{% endblock %}
{% block content %}
<div class="page-wrap">
    <div class="container slogan" style="font-size: 2.5em;text-align: center;font-style: italic;">
      "Somos una empresa bien posicionada en el sector de servicios inmobiliarios. Nuestra honestidad, compromiso y trato personalizado nos han dado alta competitividad y aceptación en el mercado"
    </div>
    <br><br><br>
        <div class="container">
            <div class="page-contents">

                <div class="row">
                  <h2 class="page-title">Misión</h2>
                    <div class="col-md-12">
                        <p>Somos una empresa privada dedicada a la finca raíz, localizada en la ciudad de Montería, con cobertura nacional, que ofrece a los propietarios de bienes inmuebles los siguientes servicios: Arriendos, Ventas, Avalúos y administración de propiedad horizontal, con personal altamente cualificado y con mucha calidad humana, ofrecemos un servicio personalizado con fundamento en valores como la honestidad y el respeto por nuestros clientes, nuestra amplia tradición de más de 15 años en el mercado, así como nuestra seriedad, compromiso y una gran capacidad competitiva, nos han permitido ganar un lugar importante en el mercado inmobiliario.</p>
                    </div>
                </div>
          </div>
        </div>
        <br><br>
        <div class="container">
            <div class="page-contents">

                <div class="row">
                  <h2 class="page-title">Visión</h2>
                    <div class="col-md-12">
                        <p>ENCASA FINCA RAIZ, se visiona en el 2020 como una empresa solida, posicionada dentro de las mejores del mercado inmobiliario del departamento de Córdoba. Lugar alcanzado por servir con honestidad y respeto y exceder las expectativas de nuestros clientes.</p>
                    </div>
                </div>
          </div>
        </div>
        <br><br>
        <div class="container">
            <div class="page-contents">

                <div class="row">
                  <h2 class="page-title">Valores corporativos</h2>
                    <div class="col-md-12">

                        <p><strong>Servicio Personalizado:</strong> Nuestro eslogan habla por sí solo, para ENCASA, el servicio personalizado, implica entender y comprender que cada cliente es único y sus necesidades deben ser atendidas de esa manera. El servicio se debe adaptar a las condiciones exclusivas de cada cliente.</p>

                        <p><strong>Respeto:</strong> Nuestros clientes merecen trato digno y respetuoso inherente al hecho de ser seres humanos, pero también por ser esas personas especiales que un día decidieron confiar en nuestra organización. Respetamos el disenso aunque buscaremos siempre el consenso con nuestros clientes.</p>

                        <p><strong>Responsabilidad:</strong> Los colaboradores de ENCASA, entienden que su labor es fundamental para el éxito de la empresa, por ello, cumplen con sus obligaciones y compromisos en forma eficaz y eficiente en búsqueda del mejoramiento continuo personal y empresarial.</p>

                        <p><strong>Etica:</strong> Para ENCASA, el competir es sinónimo de hacer las cosas bien y de servir en forma honesta, por ello, las estrategias competitivas no éticas, estarán fuera de sus prácticas empresariales.</p>

                        <p><strong>Calidad:</strong> Entendida como la responsabilidad de todos los colaboradores de ENCASA de hacer las cosas bien desde la primera vez, trabajando siempre el mejoramiento continuo y en pos de la excelencia en el servicio. Todo ello basado en un alto sentido de pertenencia y un ambiente de motivación permanente en la que el equipo está por encima del interés individual para alcanzar los objetivos trazados para el beneficio colectivo. </p>
                    </div>
                </div>
          </div>
        </div>
    </div>
{% endblock %}
