{% extends "layout/_body.html"%}
{% block title %}Inicio{% endblock %}
{% block content %}

<div class="full-width map-wrap">

                <div id="map-canvas" style="width: 100%; height: 625px;"></div>

                <div class="contact-form-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-md-offset-8 col-sm-offset-6">
                                <div class="contact-form">
                                    <h3>Dejanos tu mensaje</h3>
                                    <form action="#" method="post">
                                        {% csrf_token %}
                                        {{form.email}}
                                        {{form.subject}}
                                        {{form.message}}
                                        <input type="submit" class="btn btn-danger" value="Send Message">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- MAP&FORM -->

            <!-- ADDRESS -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 address">
                        <i class="fa fa-map-marker"></i>
                        <span>Carrera 4 # 33 - 72, Centro Comercial Montecentro, Local 25</span>
                    </div>
                    <div class="col-md-3 col-sm-3 address">
                        <i class="fa fa-phone"></i>
                        <span>781 69 89 - 781 22 35</span>
                    </div>

                    <div class="col-md-3 col-sm-3 address">
                        <i class="fa fa-phone"></i>
                        <span>310 602 9678 - 301 501 8448</span>
                    </div>
                    <div class="col-md-3 col-sm-3 address">
                        <i class="fa fa-envelope"></i>
                        <span>encasa-fincaraiz@hotmail.com</span>
                    </div>
                </div>
            </div>
            <!-- ADDRESS -->

        </div>
{% endblock %}

{% block add_js %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{{ STATIC_URL }}js/gmap.js"></script>

{% endblock %}
