{% extends "layout/_body.html"%}
{% block title %}Arriendo{% endblock %}
{% block content %}
<div class="full-width page-wrap properties-page">
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        {% include "layout/form_search.html" %}
      </aside>
      <div class="col-md-8">
        <div class="row properties-grid">
          {% for propierty in propierties.object_list %}
            {% include "layout/propierty.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
