{% extends "layout/_body.html"%}
{% block title %}Requisitos{% endblock %}
{% block content %}
    <div class="pricing-tables">
               <div class="container">
                   <div class="row row-eq-height">
                       <div class="col-md-12">
                           <div class="price-col">
                               <h2>Requisitos para Arriendo</h2><br>
                               <p>Fotocopia de cedula del solicitante y los codeudores <strong>(Estos deben laborar en el Departamento de Cordoba)</strong></p>
                               <p>Certificado vigente de libertad y tradicion de los bienes raices relacionados en la solicitud.<br><strong>(Los cuales deben estar situados en el departamento de Cordoba).</strong></p>
                               <p>Certificado de ingresos laborales y colillas de pagos de los ultimos 3 meses de los solicitantes y codeudores si son empleados <strong>(Estos deben exceder el valor de 2 canon de Arrendamiento) o extractos bancarios para los independientes.</strong></p>
                               <p>Fotocopias de las tarjetas de propiedad de los vehiculos relacinados en la solicitud.</p>
                               <p>Certificado de Camara y Comercio de los establecimientos de comercio relacionados en la solicitud.</p>
                               <p>Una vez aprobada la solicitud se elaborara el contrato; el cual debe ser firmado y autenticado por el solicitante y los codeudores.</p>
                               <p>Duracion minima del contrato: 12 meses.</p>
                               <p>Pago de mensualidades anticipadas, dentro de los cinco (5) primeros dia de cada mes.</p>
                               <p>El estudio de la solicitud y derecho a contrato tiene un costo del 15% del valor del canon de arrendamiento que debe cancelarce al momento de ingresar la solicitud.</p>
                               <p>La solicitud la recibimos solo para el estudio y no constituye ningun compromiso de nuestra parte.</p>
                               <a class="btn btn-danger" href="{{STATIC_URL}}solicitud.pdf" download>Descargar Solicitud</a>
                           </div>
                       </div>

                   </div>
               </div>
           </div>

{% endblock %}
